body
{
    display: flex; 
    flex-direction: column;
    margin: 0;  
}

.main
{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

ul
{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

a
{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin: 0 10px;
}

.logo, .main-hero-text
{
    font-size: 24PX;
    color: #f9faf8;
}

.main-hero-text
{
    font-size: 48px;
    margin: 0;
    padding: 0;
}

.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #1f2937;
}

.hero-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.secondary-hero-text
{
    display: flex;
    margin: 0;
    padding: 10px 0;
    text-wrap: wrap;
    font-size: 18px;
    color: #e5e7eb;
    width: 500px;
    height: auto;
}

.right-box, .main-image
{
    width: 500px;
    height: 200px;
    margin: 50px 10px;
}

.button-one
{
   font-size: 20px;
   color: #f9faf8;
   background-color: #3882f6;
   border-radius: 10px; 
   border: none;
   margin: 0;
   padding: 4px 16px;
}

.random-info-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}