body
{
    display: flex; 
    flex-direction: column;   
}

.main
{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

a
{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}